/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body, html {
  background-color: #f6f6f6;
  position: relative;
  font-family: "Roboto";
}

html, body, trm-contacts-app, mat-drawer-container, .main-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.mat-form-field {
  width: 100%;
}

trm-dashboard {
  padding-left: 50px;
  background: url(/assets/images/taxtAct_bkgrnd.jpg);
  width: 781px;
  height: 395px;
  display: block;
}

trm-voter {
  border: 2px solid gray;
  background-color: rgba(2455, 255, 255, 0.75);
  width: 84px;
  min-height: 263px;
  display: block;
  border-radius: 20px;
  position: absolute;
  left: 543px;
  top: 108px;
  padding:20px;
  padding-left: 0px;
}

